<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
      <h1>Welcome to the Weather Forecast page</h1>
      <form action="">
        <input type="text" placeholder="Enter your city name" id="cityName"/>
        <input type="submit" value="search" id="submitButton"/>
      </form>
      <br />

      <p>Tuesday</p>
      <p>13 OCT</p>

      <p id="city_name">Get o/p here</p>
      <p id="temp"><span>0</span><sup>o</sup>C</p>
      <p id="temp_status">fa-cloud</p>
    </center>

    <script src="js/main.js"></script>
  </body>
</html>
